[submodule "FreeRTOS/Source"]
	path = FreeRTOS/Source
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "FreeRTOS/Test/CMock/CMock"]
	path = FreeRTOS/Test/CMock/CMock
	url = https://github.com/ThrowTheSwitch/CMock.git
[submodule "FreeRTOS/Demo/ThirdParty/Community-Supported-Demos"]
	path = FreeRTOS/Demo/ThirdParty/Community-Supported-Demos
	url = https://github.com/FreeRTOS/FreeRTOS-Community-Supported-Demos
[submodule "FreeRTOS/Demo/ThirdParty/Partner-Supported-Demos"]
	path = FreeRTOS/Demo/ThirdParty/Partner-Supported-Demos
	url = https://github.com/FreeRTOS/FreeRTOS-Partner-Supported-Demos
